<style type="text/css">
  .odd{
    background-color: #B0BED9;
  }
  .even{

  }
</style>

<div style="height: 8vh;border: 1px inset black; border-width: 0px 0px 3px 0px;">
  <h3 style="margin-left: 2vw;"><%= @report_type%></h3>
</div>

<div style="height: 75vh; overflow: auto;">
  <table width="100%" >
    <tr>
      <th style="background-color: #2b2b2b;padding: 5px;color: #FFFFFF;border: 1px solid #ffffff;"><%= t('menu.terms.item') %></th>
      <th style="background-color: #2b2b2b;padding: 5px;color: #FFFFFF;border: 1px solid #ffffff;"><%= t('menu.terms.available_quantity') %></th>
      <th style="background-color: #2b2b2b;padding: 5px;color: #FFFFFF;border: 1px solid #ffffff;"><%= t('menu.terms.amount_dispensed') %></th>
    </tr>

    <% (@items || []).each do |drug,item| %>
        <tr class="<%= cycle('odd','even') %>">
          <td style="text-align: left;padding: 5px;"><%= item["name"] %></td>
          <td style="text-align: left;padding: 5px;"><%= item["available"] %></td>
          <td style="text-align: left;padding: 5px;"><%= item["dispensed"] %></td>
        </tr>
    <% end %>
  </table>
</div>

<div class="footer" >
  <div onmousedown="window.location = '/'" class="bttn bttn-success bttn-lg gradient"
          style="margin-right: 2vw;float: right;" type="button"><%= t('forms.buttons.finish') %></div>
</div>
