<div style="height: 8vh;border: 1px inset black; border-width: 0px 0px 3px 0px;">
  <h1 style="margin-left: 2vw;"><%= t('menu.terms.settings') %></h1>
</div>

<div style="height: 60vh;">
  <div style="display: table; padding-top: 10px;padding-left: 10px;margin-left: auto;margin-right: auto;">
    <div style="display: table-row">
      <div style="display: table-cell;width: 10vw;text-align: center;" onmousedown="window.location='/user/<%= User.current.id%>/edit?section=password'">
        <img src="/assets/change_password.png">
      </div>
      <div style="display: table-cell;width: 10vw;text-align: center;" onmousedown="window.location='/user/<%= User.current.id%>/edit?section=language_preference'">
        <img src="/assets/change_language.png">
      </div>
      <% if ["administrator","pharmacist"].include? User.current.role.downcase %>
        <div style="display: table-cell;width: 10vw;text-align: center;" onmousedown="window.location='/drug'">
          <img src="/assets/drugs_list.png">
        </div>
      <% end %>
      <% if User.current.role.downcase == "administrator"%>
        <div style="display: table-cell;width: 10vw;text-align: center;" onmousedown="window.location='/user'">
          <img src="/assets/user_edit.png">
        </div>
      <% end %>
    </div>
    <div style="display: table-row">
      <div style="display: table-cell;text-align: center;" onmousedown="window.location='/user/<%= User.current.id%>/edit?section=password'">
        <%= t('forms.buttons.change_password')%>
      </div>
      <div style="display: table-cell;text-align: center;"
           onmousedown="window.location='/user/<%= User.current.id%>/edit?section=language_preference'">
        <%= t('menu.terms.change_language')%>
      </div>
      <% if ["administrator","pharmacist"].include? User.current.role.downcase %>
        <div style="display: table-cell;text-align: center;" onmousedown="window.location='/drug'">
          <%= t('menu.terms.manage_drugs')%>
        </div>
      <% end %>
      <% if User.current.role.downcase == "administrator"%>
        <div style="display: table-cell;text-align: center;" onmousedown="window.location='/user'">
          <%= t('forms.buttons.user_management')%>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="footer" >
  <div onmousedown="window.location = '/'" class="bttn bttn-success bttn-lg gradient" style="margin-right: 2vw;float: right;" type="button"><%= t('forms.buttons.finish')%></div>
</div>
