<script>
  var tt_cancel_destination = "/";
  tstCurrentDate = <%= Date.today.strftime("%d-%m-%Y") %>;

  function set_ajaxURL_for_suggestions(url, filter_value) {
    $('touchscreenInput'+tstCurrentPage).setAttribute('ajaxURL', url + filter_value + "&search_string=");
    listSuggestions(tstCurrentPage);
  }
</script>


<%= form_for :drug,  :url =>  drug_index_path   do |f| %>

          <%= text_field_tag "drug_ingredient", params[:drug_name],
                             {:id => 'drug_ingredient',
                              :field_type => 'alpha',
                              :helpText => t('forms.labels.enter_ingredient'),
                              :allowFreeText => false} %>

          <%= text_field_tag "dose_strength", params[:dose_strength],
                             {:id => 'dose_strength',
                              :field_type => 'password',
                              :helpText => t('forms.labels.enter_dose_strength'),
                              :allowFreeText => false} %>

          <select style='width: 100%' name='dose_form' id='dose_form' helptext='<%= t('forms.labels.enter_dose_form')%>'
                  doublepane="false">
            <% (dose_forms || []).each do |option| %>
                <option value="<%= option%>"><%= option.titleize %></option>
            <% end %>
          </select>

          <select style='width: 100%' name='drug_category' id='drug_category' helptext='<%= t('forms.labels.drug_category')%>'
                  doublepane="false">
            <% (drug_categories || []).each do |option| %>
                <option value="<%= option%>"><%= option.titleize %></option>
            <% end %>
          </select>
    </table>


    <%= submit_tag value="Submit"%>
<% end %>


<script>

  if(document.getElementById("date")) {

    document.getElementById("date").setAttribute("maxdate", (new Date((new Date()).setDate((new Date()).getDate() + 1000))));

    document.getElementById("date").setAttribute("mindate", (new Date((new Date()).setDate((new Date()).getDate() - 1))));

  }

</script>
