<html xmlns="http://www.w3.org/1999/html">
  <header>
      <style type="text/css">
        th.tab{
          border: 1px outset silver;
          background-color: #39bf87;
          padding: 15px;
        }
        div.mobi-div{
          padding-left: 10px;
          padding-top: 5px;
        }
      </style>
  </header>
  <body style="margin: 0px; padding: 0px;">

    <div id="dispenseForm" class="questionLayer" style="font-size: 0.9em;">
      <div style="margin-top: 10vh;margin-left: 15vw; height: 60vh;width: 70vw;background-color: #eeeeff;border: 3px outset black;">
          <table style="width: 100%; border: 2px solid black; border-width: 0px 0px 2px 0px;">
            <tr>
              <td style="width: 20%;">Bottle ID</td>
              <th id="bottle_id" style="text-align: left;width: 20%;">&nbsp;</th>
              <td style="text-align: left;width: 20%;">Directions</td>
              <th style="text-align: left;" id="directionsDisp">&nbsp;</th>
              <td style="width: 5%;" rowspan="2">
                <img style="padding-right: 2px;float: right;" src="/assets/delete.png" onmousedown="cancelDispense()">
              </td>
            </tr>
            <tr>
              <td>Route</td>
              <th style="text-align: left;" id="route_type">&nbsp;</th>
              <td>Quantity</td>
              <th style="text-align: left;" id="qtyDisp">&nbsp;</th>
            </tr>
          </table>
        <div style="display: table;width: 100%;">
          <div style="display: table-row">
            <div style="display: table-cell;width: 15%;padding: 5px;vertical-align: top;">
                <table width="100%" style="border-collapse:separate;border-spacing:0 10px;">
                  <tr>
                    <th class="tab" onmousedown="showDispenseDiv('routesDiv')">Administration Route</th>
                  </tr>
                  <tr>
                    <th class="tab" onmousedown="showDispenseDiv('doseTypeDiv')">Dose Type</th>
                  </tr>
                  <tr>
                    <th class="tab" onmousedown="showDispenseDiv('doseDiv')">Dose</th>
                  </tr>
                  <tr>
                    <th class="tab" onmousedown="showDispenseDiv('directionsDiv')">Directions</th>
                  </tr>
                  <tr>
                    <th class="tab" onmousedown="showDispenseDiv('qtyDiv')">Duration</th>
                  </tr>
                </table>
            </div>
            <div style="display: table-cell;border: 2px solid black;border-width: 0px 0px 0px 2px;height: 50vh;">
              <%= form_for :prescription, :html => { :class => "form-horizontal pmap_inventory" }, :url => "/refill"  do |f| %>
              <div style="position: absolute;left: 65vw;top: 60vh;" onmousedown="showDispenseDiv('doseTypeDiv')" class="nextButton" id="dispNext">
                Next
              </div>
              <div class="mobi-div" id="routesDiv" >
                <h2>Select Route of Administration</h2>
                <table width="100" style="border-collapse: collapse">
                  <tr>
                    <td>
                      <div class="radioDiv">
                        <input type="radio" name="administration" class="radio" value="oral" id="route-oral" onchange="setRoute('Oral')" required>
                        <label class="custom" for="route-oral">Oral</label>
                      </div>
                    </td>
                    <td>
                      <div class="radioDiv">
                        <input type="radio" name="administration" class="radio" value="topical" id="route-topical" onchange="setRoute('Topical')" required>
                        <label class="custom" for="route-topical"> Topical </label>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="radioDiv">
                        <input type="radio" name="administration" class="radio" value="respiratory" id="route-respiratory" onchange="setRoute('Respiratory')" required>
                        <label class="custom" for="route-respiratory"> Respiratory</label>
                      </div>
                    </td>
                    <td>
                      <div class="radioDiv">
                        <input type="radio" name="administration" class="radio" value="injection" id="route-injection" onchange="setRoute('Injection')" required>
                        <label class="custom" for="route-injection"> Injection</label>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="radioDiv">
                        <input type="radio" name="administration" class="radio" value="other" id="route-other" onchange="setRoute('Other')" required>
                        <label class="custom" for="route-other"> Other </label>
                      </div>
                    </td>
                    <td>
                      &nbsp;
                    </td>
                  </tr>
                </table>

              </div>
              <div class="mobi-div" id="doseDiv" style="display: none;">
                <div style="margin-top: 5px;">
                  <label for="dose"><span style="font-weight: bold;font-size: 20px;">Enter dose</span></label> <br/>
                  <input type="text" id="dose" name="dose" style="font-size: 20px;" required>
                </div>
                <div style="margin-top: 5px;">
                  <table width="100" cellspacing="15" >
                    <tr>
                      <td class="customButton" onmousedown="append(1,'dose')"><span>1</span></td>
                      <td class="customButton" onmousedown="append(2,'dose')"><span>2</span></td>
                      <td class="customButton" onmousedown="append(3,'dose')"><span>3</span></td>
                    </tr>
                    <tr>
                      <td class="customButton" onmousedown="append(4,'dose')"><span>4</span></td>
                      <td class="customButton" onmousedown="append(5,'dose')"><span>5</span></td>
                      <td class="customButton" onmousedown="append(6,'dose')"><span>6</span></td>
                    </tr>
                    <tr>
                      <td class="customButton" onmousedown="append(7,'dose')"><span>7</span></td>
                      <td class="customButton" onmousedown="append(8,'dose')"><span>8</span></td>
                      <td class="customButton" onmousedown="append(9,'dose')"><span>9</span></td>
                    </tr>
                    <tr>
                      <td class="customButton" onmousedown="append(0,'dose')"><span>0</span></td>
                      <td class="customButton" onmousedown="append('.','dose')"><span>.</span></td>
                      <td class="customButton" onmousedown="append('del','dose')"><span>del</span></td>
                    </tr>
                  </table>
                </div>
              </div>
              <div class="mobi-div" id="doseTypeDiv" style="display: none;">
                <h2>Select Dose Type</h2>
                <table width="100" style="border-collapse: collapse">
                  <tr>
                    <td>
                      <div class="radioDiv">
                        <input type="radio" name="doseType" value="PRN" class="radio" id="typePRN" required>
                        <label class="custom" for="typePRN">As needed</label>
                      </div>
                    </td>
                    <td>
                      <div class="radioDiv">
                        <input type="radio" name="doseType" value="NPRN" class="radio" id="typeNPRN" required>
                        <label class="custom" for="typeNPRN"> As prescribed </label>
                      </div>
                    </td>
                  </tr>
                </table>
              </div>
              <div class="mobi-div" id="directionsDiv" style="display: none;">
                <h2>Select directions</h2>
                <table width="100" style="border-collapse: collapse">
                  <tr>
                    <td>
                      <div class="radioDiv">
                        <input type="radio" name="frequency" class="radio" id="OD" value="OD" onchange="setDirections('OD')" required>
                        <label class="custom" for="OD">Once a day</label>
                      </div>
                    </td>
                    <td>
                      <div class="radioDiv">
                        <input type="radio" name="frequency" class="radio" id="BD" value="BD" onchange="setDirections('BD')" required>
                        <label class="custom" for="BD"> Twice a day </label>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="radioDiv">
                        <input type="radio" name="frequency" class="radio" id="TDS" value="TDS" onchange="setDirections('TDS')" required>
                        <label class="custom" for="TDS"> Three times a day</label>
                      </div>
                    </td>
                    <td>
                      <div class="radioDiv">
                        <input type="radio" name="frequency" class="radio" id="QID" value="QID" onchange="setDirections('QID')" required>
                        <label class="custom" for="QID"> Four times a day</label>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="radioDiv">
                        <input type="radio" name="frequency" class="radio" id="5XD" value="5XD" onchange="setDirections('5XD')" required>
                        <label class="custom" for="5XD">Five times a day</label>
                      </div>
                    </td>
                    <td>
                      <div class="radioDiv">
                        <input type="radio" name="frequency" class="radio" id="Q4HRS" value="Q4HRS" onchange="setDirections('Q4HRS')" required>
                        <label class="custom" for="Q4HRS"> Six times a day</label>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="radioDiv">
                        <input type="radio" name="frequency" class="radio" id="QOD" value="QOD" onchange="setDirections('QOD')" required>
                        <label class="custom" for="QOD"> Every other day</label>
                      </div>
                    </td>
                    <td>
                      <div class="radioDiv">
                        <input type="radio" name="frequency" class="radio" id="QWK" value="QWK" onchange="setDirections('QWK')" required>
                        <label class="custom" for="QWK"> Once a week</label>
                      </div>
                    </td>
                  </tr>
                </table>
              </div>
              <div class="mobi-div" id="qtyDiv" style="display: none;">
                <div style="margin-top: 5px;">
                  <label for="qty"><span style="font-weight: bold;font-size: 20px;">Enter number of days</span></label> <br/>
                  <input type="text" id="qty" style="font-size: 20px;" name="duration" required>
                </div>
                <div style="margin-top: 5px;">
                  <table width="100" cellspacing="15" >
                    <tr>
                      <td class="customButton" onmousedown="append(1,'qty');setQuantity('qty')"><span>1</span></td>
                      <td class="customButton" onmousedown="append(2,'qty');setQuantity('qty')"><span>2</span></td>
                      <td class="customButton" onmousedown="append(3,'qty');setQuantity('qty')"><span>3</span></td>
                    </tr>
                    <tr>
                      <td class="customButton" onmousedown="append(4,'qty');setQuantity('qty')"><span>4</span></td>
                      <td class="customButton" onmousedown="append(5,'qty');setQuantity('qty')"><span>5</span></td>
                      <td class="customButton" onmousedown="append(6,'qty');setQuantity('qty')"><span>6</span></td>
                    </tr>
                    <tr>
                      <td class="customButton" onmousedown="append(7,'qty');setQuantity('qty')"><span>7</span></td>
                      <td class="customButton" onmousedown="append(8,'qty');setQuantity('qty')"><span>8</span></td>
                      <td class="customButton" onmousedown="append(9,'qty');setQuantity('qty')"><span>9</span></td>
                    </tr>
                    <tr>
                      <td class="customButton" onmousedown="append(0,'qty');setQuantity('qty')"><span>0</span></td>
                      <td class="customButton" onmousedown="append('.','qty');setQuantity('qty')"><span>.</span></td>
                      <td class="customButton" onmousedown="append('del','qty');setQuantity('qty')"><span>del</span></td>
                    </tr>
                  </table>
                </div>
              </div>
                  <input type="hidden" value="<%= @patient.id%>" name="patient_id" />
                  <input type="hidden" name="bottle_id" id="btl_field"/>
                  <input type="hidden" name="quantity" id="dispensed_quantity"/>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div style="display: table; width: 97%;margin-top: 1vh;margin-left: auto;margin-right: auto">
      <div style="display: table-row;">
        <div style="width: 70%;float: left;" class="header-cell">
          <table style="width: 100%;">
            <tr>
              <td rowspan="3">
                  <div class="<%=@patient.gender.downcase%>">
                    <img src="/assets/<%=@patient.gender.downcase%>.png">
                  </div>
              </td>
              <td colspan="6">
                <span style="font-weight: bold;font-size: 25px;"><%= @patient.fullname %></span>
              </td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <th style="text-align: left;">Patient #</th>
              <th>:</th>
              <td><%= @patient.formatted_pnid %></td>
              <th style="text-align: left;">Age</th>
              <th>:</th>
              <td><%= @patient.age %></td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <th style="text-align: left;">National ID</th>
              <th>:</th>
              <td><%= @patient.nat_id %></td>
              <th style="text-align: left;">Marital Status</th>
              <th>:</th>
              <td><%= @patient.marital_status %></td>
            </tr>
          </table>
        </div>
        <div class="header-cell" style="float: right; width: 23%;">
          <div style="display: table-row">
            <div style="display: table-cell;vertical-align: top;">
              <img style="height: 30px;" src="/assets/barcode.jpg">
              <strong>Scan Bottle</strong>
            </div>
          </div>
          <div style="display: table-row">
            <div style="display: table-cell;">
              <input type="text" id="barcode" class="scanner" style="width: 95%;" autofocus>
            </div>
          </div>
        </div>
      </div>
      <div style="display: table-row;">
        <div style="border: 1px solid blue;margin-top: 15px; height: 65vh; ">
            <% if has_prescribe %>
              <%= render '/patient/prescribe_view' %>
            <% else %>
              <%= render '/patient/dispense_view' %>
            <% end %>
        </div>
      </div>
    </div>
    <div class="footer" >
      <button class="bttn bttn-success bttn-lg gradient" style="margin-top: 1vh;height: 8vh;
          margin-right: 2vh;float: right;" type="button" onmousedown="window.location='/'">Finish</button>
    </div>
  </body>

  <script type="text/javascript">
    var timerHand;

    function checkBarcode()
    {
      var barcodeTxt = document.getElementById("barcode");
      if (barcodeTxt.value.trim().match(/[A-Z0-9]+\$/)) {

        if ((barcodeTxt.value.trim().replace(/\$/, "")).replace(/\-/,"").toUpperCase().length >= 7)
        {
              showDispenseForm()
              document.getElementById("bottle_id").innerHTML= barcodeTxt.value.trim().replace(/\$/, "").replace(/\-/,"").toUpperCase();
              document.getElementById("btl_field").value= barcodeTxt.value.trim().replace(/\$/, "").replace(/\-/,"").toUpperCase();
        }
        else
        {
          barcodeTxt.value = "";
          initializeListener();
        }

      }
      else
      {
        initializeListener();
      }
    }

    function cancelDispense()
    {
      var barcodeTxt = document.getElementById("barcode");
      barcodeTxt.value = "";
      initializeListener();
      hideLayer('shadow', 'dispenseForm')
    }


    function initializeListener()
    {
      document.getElementById("barcode").focus();
      timerHand = setTimeout(function () {
        checkBarcode();
      }, 3000);

    }

    setTimeout(initializeListener(), 3000);

    function showDispenseDiv(option)
    {
      var tabs = ['routesDiv','doseTypeDiv','doseDiv','directionsDiv','qtyDiv'];
      var currentTab = tabs.indexOf(option);
      var button = document.getElementById('dispNext');
      $(".mobi-div").css("display", "none");
      document.getElementById(option).style.display= "";

      if (option == 'qtyDiv')
      {
        button.setAttribute("onmousedown", "validateDisp()")
        button.innerHTML = "Finish"
      }
      else
      {
        button.setAttribute("onmousedown", "showDispenseDiv('"+ tabs[currentTab+1] + "')")
        button.innerHTML = "Next"
      }

    }

    function append(item,control){
      input = document.getElementById(control);
      if (item == "del"){
        input.value = qty.value.substring(0,input.value.toString().length-1)
      }
      else
      {
        input.value = input.value.toString() + item;
      }
    }

    function setRoute(route) {
      document.getElementById("route_type").innerHTML = route;
    }

    function setDirections(frequency){
      var field = document.getElementById("directionsDisp");
      field.innerHTML = createDirections(document.getElementById("route_type").innerHTML, document.getElementById('dose').value, frequency)
    }

    function validateDisp() {

      checkRoute = document.getElementsByName("administration");
      checkDoseType = document.getElementsByName("doseType");
      checkdirections = document.getElementsByName("frequency");

      if (checkRadio(checkRoute))
      {
        if (checkRadio(checkDoseType))
        {
          if (parseFloat(document.getElementById('dose').value) > 0)
          {
            if (checkRadio(checkdirections)){
              if (parseFloat(document.getElementById('qty').value) > 0){
                document.forms[0].submit()
              }
              else {
                showDispenseDiv('qtyDiv');
              }
            }
            else {
              showDispenseDiv('directionsDiv');
            }
          }
          else {
            showDispenseDiv('doseDiv');
          }
        }
        else
        {
          showDispenseDiv('doseTypeDiv');
        }
      }
      else
      {
        showDispenseDiv('routesDiv');
      }
    }

    function checkRadio(list)
    {
      for(i=0; i < list.length; i++){
        if(list[i].checked)
        {
          return true;
        }
      }
      return false;
    }

    function  setQuantity(input) {
      var duration = document.getElementById(input).value;
      var frequencyList = document.getElementsByName("frequency")
      var frequency = 1;
      for(i=0; i < frequencyList.length; i++){
        if(frequencyList[i].checked)
        {
          frequency = frequencyList[i].value;
          break;
        }
      }
      var qty = calcQuantity(parseFloat(document.getElementById('dose').value),frequency,duration);
      document.getElementById("qtyDisp").innerHTML = qty;
      document.getElementById("dispensed_quantity").value = qty;
    }
  </script>
</html>
