
<script>
  var tt_cancel_destination = "/main/settings"
  //barcodeFocusOnce = true;
  //barcodeScanAction = gotoNextPage;
</script>

<%= form_for :user, :url => edit_user_path  do |f| %>

    <% if @edit_section == "language_preference"%>

        <%= select_tag "user[language_preference]", options_for_select(['English', 'Spanish'], (@user.language rescue nil)),
                       :class => 'input_cell', :helpText => "Language Preference", :required => true  %>


    <% elsif @edit_section == "password"%>
        <p><label for="user_plain_password">Password</label><br/>
          <%= password_field 'user', 'plain_password', :xhelpText => 'Password' ,:textCase =>"lower",
                             :validationRule => "\\w{4}\\w*", :validationMessage => "Password less than six characters",
                             :value =>"", :minlength => 6 %></p>

        <p><label for="user_confirm_password">Re-enter Password</label><br/>
          <%= password_field 'user_confirm', 'password', :xhelpText => 'Password',:textCase =>"lower",
                             :validationRule =>"\\w{6}\\w*", :validationMessage =>"Password less than FOUR characters." %></p>
    <% elsif @edit_section == "role" %>
        <%= select_tag "user[user_role]", options_for_select(user_roles, (@user.role rescue nil)),
                       :class => 'input_cell', :placeholder => "Select user role", :required => true  %>
    <% end %>

    <%= hidden_field_tag 'section', @edit_section%>
    <%= hidden_field_tag 'user_id', @user.id%>
    <%= submit_tag value="Submit"%>
<% end %>
