
<%= javascript_include_tag 'jquery.dataTables.min.js' %>
<style type="text/css">
  .even{
    background-color: #CCCCCC !important;
  }
  input,label{
    margin-top: 3px;
    font-size: 1.3em;
  }
  img{
    height: 30px;
    width: 25px;
  }
</style>
<script type="text/javascript">
  // Styling the table with datatables library
  $(document).ready(function() {
    // $.fn.dataTable.moment( 'MMM-YYYY' );
    $('#generalInventory').DataTable({
      "bLengthChange": false,
      "bDestroy": true,
      "pageLength":5,
      "language": {
        "search": I18n.t('forms.labels.search'),
        "lengthMenu": "Display _MENU_ records per page",
        "zeroRecords": I18n.t('forms.labels.nothing_found'),
        "info": I18n.t('forms.labels.tbl_pages'),
        "infoEmpty": "No records available",
        "infoFiltered": I18n.t('forms.labels.filtered'),
        "oPaginate": {
          "sNext": I18n.t('forms.buttons.next'),
          "sPrevious": I18n.t('forms.buttons.previous')
        }
      }
    });
    search_box = $('#generalInventory').dataTable()
    search = document.getElementsByTagName("input")[0];
    search.setAttribute("id","search");
    document.getElementById('search').setAttribute("onclick","showKeyboard();");
    keyboard = document.getElementsByClassName("keypad")[0]
    showAlphaKeypad();
  } );
</script>
<div style="height: 8vh;border: 1px inset black; border-width: 0px 0px 3px 0px;">
  <h1 style="margin-left: 2vw;">Registered Users</h1>
</div>

<div style="height: 75vh; overflow: auto;">
  <table id="generalInventory" class="table table-striped table-bordered" width="100%" cellspacing="0">
    <thead>
    <tr>
      <th><%= t('menu.terms.users_name')%></th>
      <th style="width: 15%;"><%= t('forms.labels.username')%></th>
      <th style="width: 15%;"><%= t('menu.terms.role')%></th>
      <th style="width: 20%;"><%= t('menu.terms.actions')%></th>
    </tr>
    </thead>

    <tbody>
    <% (@users || []).each do |user| %>
        <tr>
          <td><%= user.display_name %></td>
          <td><%= user.username %></td>
          <td><%= user.role.titleize %></td>
          <td>

            <img style="float: left;" src="/assets/edit.png" onmousedown="window.location='/user/<%= user.id %>/edit?section=role'" title="Edit User">
            <img style="float: right;" src="/assets/delete.png" title="Void Item"
                 onmousedown="confirmAction('/void_user/<%= user.id %>', 'Are you Sure?')">
          </td>
        </tr>
    <% end %>

    </tbody>
  </table>
</div>

<div class="footer" >
  <div onmousedown="window.location = '/main/settings'" class="bttn bttn-success bttn-lg gradient"
       style="margin-right: 2vw;float: right;" type="button"><%= t('forms.buttons.finish')%></div>
  <div onmousedown="window.location = '/user/new'" class="bttn bttn-primary bttn-lg gradient"
       style="margin-right: 2vw;float: right;" type="button"><%= t('forms.buttons.add_user')%></div>
</div>
<div id="keypad">
          <span class="keypad">
          </span>

</div>
