<%= javascript_include_tag "barcode" %>
<script>
  var tt_cancel_destination = "/main/settings"
  //barcodeFocusOnce = true;
  //barcodeScanAction = gotoNextPage;
</script>

<%= form_for :user, :url => "/user/update_password"  do |f| %>

    <p><label for="user_plain_password">Password</label><br/>
      <%= password_field 'user', 'plain_password', :xhelpText => 'Password' ,:textCase =>"lower",
                         :validationRule => "\\w{4}\\w*", :validationMessage => "Password less than six characters",
                         :value =>"", :minlength => 6 %></p>

    <p><label for="user_confirm_password">Re-enter Password</label><br/>
      <%= password_field 'user_confirm', 'password', :xhelpText => 'Password',:textCase =>"lower",
                         :validationRule =>"\\w{4}\\w*", :validationMessage =>"Password less than FOUR characters." %></p>

    <%= hidden_field_tag 'user_id', @user.id%>
    <%= submit_tag value="Submit"%>
<% end %>
