
    <%= javascript_include_tag 'jquery.dataTables.min.js' %>
    <style type="text/css">
      .even{
        background-color: #CCCCCC !important;
      }
        input,label{
          margin-top: 5px;
          font-size: 25px;
        }

    </style>
    <script type="text/javascript">
      // Styling the table with datatables library
      $(document).ready(function() {
        // $.fn.dataTable.moment( 'MMM-YYYY' );
        $('#generalInventory').DataTable({
          "bLengthChange": false,
          "bDestroy": true,
          "pageLength":5,
          "language": {
            "search": I18n.t('forms.labels.search'),
            "lengthMenu": "Display _MENU_ records per page",
            "zeroRecords": "Nothing found - sorry",
            "info": I18n.t('forms.labels.tbl_pages'),
            "infoEmpty": "No records available",
            "infoFiltered": "(filtered from _MAX_ total records)"
          }
        });
        search_box = $('#generalInventory').dataTable()
        search = document.getElementsByTagName("input")[0];
        search.setAttribute("id","search");
        document.getElementById('search').setAttribute("onclick","showKeyboard();");
        keyboard = document.getElementsByClassName("keypad")[0]
        showAlphaKeypad();
      } );


    </script>
    <div style="height: 8vh;border: 1px inset black; border-width: 0px 0px 3px 0px;">
      <h1 style="margin-left: 2vw;"><%= t("menu.terms.inventory")%></h1>
    </div>

    <div style="height: 75vh; overflow: auto;">
      <table id="generalInventory" class="table table-striped table-bordered" width="100%" cellspacing="0">
        <thead>
        <tr>
          <th><%= t('menu.terms.item') %></th>
          <th style="width: 10%;"><%= t('menu.terms.identifier') %></th>
          <th style="width: 10%;"><%= t('menu.terms.category') %></th>
          <th style="width: 10%;"><%= t('menu.terms.current_quantity') %></th>
          <th style="width: 7%;"><%= t('menu.terms.expiration_date') %></th>
          <th style="width: 20.5%;"><%= t('menu.terms.actions') %></th>
        </tr>
        </thead>

        <tbody>
        <% (@inventory || []).each do |item| %>
            <tr>
              <td><%= item.drug_name.titleize rescue "" %></td>
              <td><%= Misc.dash_formatter(item.gn_identifier) %></td>
              <td><%= item.drug_category %></td>
              <td><%= number_with_delimiter(item.current_quantity) %></td>
              <td style="text-align: center;" ><%= l(item.expiration_date, format: '%b-%Y') rescue ""%></td>
              <td>
                <img style="float: left;" src="/assets/edit.png" title="Edit Item"
                     onmousedown="window.location='/general_inventory/<%= item.id %>/edit'">
                <img style="padding-right: 5px;padding-left: 5px;" src="/assets/print.png"  title="Print Barcode"
                     onmousedown="window.location='/print_bottle_barcode/<%= item.id %>'">
                <img style="float: right;" src="/assets/delete.png" title="Void Item"
                     onmousedown="confirmAction('/void_general_inventory/<%= item.id %>', 'Are you Sure?')">
              </td>
            </tr>
        <% end %>

        </tbody>
      </table>
    </div>

    <div class="footer" >
      <button onmousedown="window.location = '/'" class="bttn bttn-success bttn-lg gradient" style="margin-top: 1vh;height: 8vh;margin-right: 2vh;float: right;" type="button">
        <%= t('forms.buttons.finish')%></button>
      <button onmousedown="window.location = '/general_inventory/new'" class="bttn bttn-primary bttn-lg gradient"
              style="margin-top: 1vh;height: 8vh;margin-right: 2vh;float: right;" type="button"><%= t('menu.terms.add_item')%></button>
    </div>

    <div id="keypad">
          <span class="keypad">
          </span>

    </div>
