<!DOCTYPE html>
<html>
<head>
  <title>eDispensing</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'jquery-1.12.0.min.js' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <style type="text/css">
    ::-webkit-scrollbar {
      height: 3vh;
      width: 5vw;
      background: #C0C0C0;
    }

    ::-webkit-scrollbar-thumb {
      background: #404040;
      -webkit-border-radius: 2ex;
      height: 3vh;

    }

    ::-webkit-scrollbar-button {
      height: 3vh;

    }

    ::-webkit-scrollbar-corner {
      background: #000;
    }

  </style>
</head>
<body style="background-color: white;">
  <div id="shadow" class="opaqueLayer"> </div>
  <div id="question" class="questionLayer" style="font-size: 0.9em;">
    <div class="dialogBox">
      <div style="display: table-row">
        <div style="display: table-cell; text-align: center;">
          &nbsp;
        </div>
      </div>
      <div style="display: table-row">
        <div style="display: table-cell; text-align: center;">
          <h2 id="message">Are you sure?</h2>
        </div>
      </div>
      <div style="display: table-row">
        <div style="display: table-cell; text-align: center;">
          <button id="bttnYes"><span>Yes</span></button>
          <button onMouseDown="hideLayer('shadow', 'question')"><span>No</span></button>
        </div>
      </div>
    </div>
  </div>
  <%= yield %>

</body>
</html>
